<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestSuite">

    <listeners>
        <listener class-name="automation.ultis.listeners.ReportListener"/>
    </listeners>

    <!-- First Test Suite -->
    <test name="TestProject with Android: Babylon Nexus - Signup">
        
        <classes>
            <class name="automation.testsuite.TestSignUp"/>
        </classes>
    </test>
    
      <test name="TestProject with Android: Babylon Nexus - UserManagement -Filter">
        
        <classes>
            <class name="automation.testsuite.TestUserListFilter"/>
        </classes>
    </test>



</suite> <!-- Suite -->
